@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model VHZ_App.Pages.CardProductModel
@{
    ViewData["Title"] = "Карта продукта";
}
<p></p>
<label name="nameCardProduct" class="txt-cart-16">@Model.Product.NameProduct</label>
<p></p>
<br />
<label name="textProductCompliance" class="gost">@Model.Product.ProductCompliance</label>
<p></p>
<br />
<label name="textProductType" class="txt-cart-14"><b class="fst-italic">Тип: </b>@Model.Product.Type</label>
<p></p>
<br />
<label name="textProductDescription" class="txt-cart-14"><b class="fst-italic">Описание:</b> @Model.Product.DescriptionProduct</label>
<p></p>
<br />
<label name="textProductAppointment" class="txt-cart-14"><b class="fst-italic">Назначение:</b> @Model.Product.Appointment</label>
<p></p>
<br />
<table name="tableSpetificationsProduct" class=" table-custom .table-bordered">
    <colgroup>
        <col width="40%">
        <col width="60%"> 
    </colgroup>
    <thead class="head">
        <tr>
            <td name="spetificationsProduct">Характеристика</td>
            <td name="valueSpetificationsProduct">Значение</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var spetification in Model.Spetifications)
        {
            <tr>
                <td>@spetification.NameIndicator</td>
                <td>@spetification.Standard</td>
            </tr>
        }
    </tbody>
</table>
<p></p>
<label class="end-text"></label>