@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model MakingOrderModel
@{
    ViewData["Title"] = "Оформление заказа";
}
@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}
<p name="otstupParagraph" class="otstup" />
<label name="makingOrderLabel" class="cart-lbl">Оформление заказа</label>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div name="errorMessageDiv" class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
<form name="placeOrderForm" method="post" asp-page-handler="PlaceOrder">
    <p name="otstupBeforeDelivery" class="otstup" />
    <label name="deliveryMethodLabel" class="txt-cart-14">Способ получения:</label>
    <br />
    <input name="deliveryRadio" type="radio" value="доставка" class="radio-delivery" />
    <label name="deliveryLabel" class="txt-cart-14">Доставка</label>
    <br />
    <input name="pickupRadio" type="radio" value="самовывоз" class="radio-delivery" />
    <label name="pickupLabel" class="txt-cart-14">Самовывоз</label>
    <br />
    <p name="otstupAfterDelivery" class="otstup" />
    <p name="emptyParagraph1"></p>
    <label name="addressLabel">Укажите адрес:</label>
    <br />
    <p name="emptyParagraph2" />
    <input type="text" placeholder="Область" class="addres-input" name="Area" />
    <p name="emptyParagraph3" />
    <p name="emptyParagraph4" />

    <input type="text" placeholder="Населённый пункт" class="addres-input" name="Locality" />
    <p name="emptyParagraph5" />
    <input type="text" placeholder="Улица" class="addres-input" name="Street" />
    <p name="emptyParagraph6" />
    <input type="text" placeholder="Дом" class="addres-input" name="House" />

    <p name="otstupBeforeCards" class="otstup"></p>


    <label name="cardSelectionLabel">Выберите карту:</label>
    <div name="cardBody" class="card-body">
        @if (Model.BankCards.Any())
        {
            <div name="bankCardsList" class="bank-cards-list">
                @foreach (var card in Model.BankCards)
                {
                    <div name="bankCardItem" class="bank-card-item default-card">
                        <div name="cardInfo" class="card-info">
                            <input name="bankCardRadio" type="radio" value="@card.IdBankCard" class="radio-bankCard" />

                            <div name="cardHeader" class="d-flex justify-content-between">
                                <h6 name="bankName">@card.BankName</h6>
                            </div>

                            <div name="infoRow" class="info-row">
                                <div name="cardNumberBlock" class="info-block"><label name="cardNumberLabel">Номер карты</label><div name="maskedCardNumber">**** **** **** @card.CardNumber[^4..]</div></div>
                                <div name="validityBlock" class="info-block"><label name="validityLabel">Срок действия</label><div name="validityValue">@card.ValidityPeriod</div></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p name="noCardsMessage" class="text-muted">У вас пока нет добавленных банковских карт.</p>
            <button name="addCardButton" onclick="location.href='/AddBankCard'" class="btn-cart-oform">Добавить карту</button>
        }
    </div>

    <p name="otstupBeforeSubmit" class="otstup"></p>
    <p name="emptyParagraph7"></p>

    <button name="submitOrderButton" class="btn-cart-oform">Заказать</button>
</form>
<p name="emptyParagraph8" />
<label name="emptyLabel" class="otstup" />
<p name="emptyParagraph9"></p>
<label name="endLabel" class="end-text"></label>